### Importación de datos

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

# 1. Análisis de facturación

In [2]:
ingresos_tienda = tienda['Precio'].sum()
ingresos_tienda2 = tienda2['Precio'].sum()
ingresos_tienda3 = tienda3['Precio'].sum()
ingresos_tienda4 = tienda4['Precio'].sum()
print(f'Ingreso total tienda 1: ${ingresos_tienda:,.2f}')
print(f'Ingreso total tienda 2: ${ingresos_tienda2:,.2f}')
print(f'Ingreso total tienda 3: ${ingresos_tienda3:,.2f}')
print(f'Ingreso total tienda 4: ${ingresos_tienda4:,.2f}')

Ingreso total tienda 1: $1,150,880,400.00
Ingreso total tienda 2: $1,116,343,500.00
Ingreso total tienda 3: $1,098,019,600.00
Ingreso total tienda 4: $1,038,375,700.00

# 2. Ventas por categoría

In [ ]:
#Agrupa las ventas por categoria tienda 1
vtas_categoria_tienda = tienda.groupby('Categoría del Producto')['Precio'].sum().reset_index()

#renombra la columna de precio a ventas para que sea mas descriptiva
vtas_categoria_tienda.rename(columns={'Precio': 'Ventas'}, inplace=True)

#formatea la columna de ventas para que tenga el formato de moneda y separador decimal
vtas_categoria_tienda['Ventas Formateadas'] = vtas_categoria_tienda['Ventas'].apply(lambda x: f'{x:,.2f}')

#ordena la tabla por ventas de mayor a menor
vtasCat_Tienda1_sorter = vtas_categoria_tienda.sort_values(by='Ventas', ascending=False, inplace=False)

#imprime la tabla de ventas por categoria
print(vtasCat_Tienda1_sorter[['Categoría del Producto', 'Ventas Formateadas']])

    Categoría del Producto Ventas Formateadas
3             Electrónicos     429,493,500.00
2        Electrodomésticos     363,685,200.00
7                  Muebles     187,633,700.00
4   Instrumentos musicales      91,299,000.00
1     Deportes y diversión      39,290,000.00
5                 Juguetes      17,995,700.00
0  Artículos para el hogar      12,698,400.00
6                   Libros       8,784,900.00

In [ ]:
#Agrupa las ventas por categoria tienda 2
vtas_categoria_tienda2 = tienda2.groupby('Categoría del Producto')['Precio'].sum().reset_index()

#renombra la columna de precio a ventas para que sea mas descriptiva
vtas_categoria_tienda2.rename(columns={'Precio': 'Ventas'}, inplace=True)

#formatea la columna de ventas para que tenga el formato de moneda y separador decimal
vtas_categoria_tienda2['Ventas Formateadas'] = vtas_categoria_tienda2['Ventas'].apply(lambda x: f'{x:,.2f}')

#ordena la tabla por ventas de mayor a menor
vtasCat_Tienda2_sorter = vtas_categoria_tienda2.sort_values(by='Ventas', ascending=False, inplace=False)

#imprime la tabla de ventas por categoria
print(vtasCat_Tienda2_sorter[['Categoría del Producto', 'Ventas Formateadas']])

    Categoría del Producto Ventas Formateadas
3             Electrónicos     410,831,100.00
2        Electrodomésticos     348,567,800.00
7                  Muebles     176,426,300.00
4   Instrumentos musicales     104,990,300.00
1     Deportes y diversión      34,744,500.00
5                 Juguetes      15,945,400.00
0  Artículos para el hogar      14,746,900.00
6                   Libros      10,091,200.00

In [ ]:
#Agrupa las ventas por categoria tienda 3
vtas_categoria_tienda3 = tienda3.groupby('Categoría del Producto')['Precio'].sum().reset_index()

#renombra la columna de precio a ventas para que sea mas descriptiva
vtas_categoria_tienda3.rename(columns={'Precio': 'Ventas'}, inplace=True)

#formatea la columna de ventas para que tenga el formato de moneda y separador decimal
vtas_categoria_tienda3['Ventas Formateadas'] = vtas_categoria_tienda3['Ventas'].apply(lambda x: f'{x:,.2f}')

#ordena la tabla por ventas de mayor a menor
vtasCat_Tienda3_sorter = vtas_categoria_tienda3.sort_values(by='Ventas', ascending=False, inplace=False)

#imprime la tabla de ventas por categoria
print(vtasCat_Tienda3_sorter[['Categoría del Producto', 'Ventas Formateadas']])

    Categoría del Producto Ventas Formateadas
3             Electrónicos     410,775,800.00
2        Electrodomésticos     329,237,900.00
7                  Muebles     201,072,100.00
4   Instrumentos musicales      77,380,900.00
1     Deportes y diversión      35,593,100.00
5                 Juguetes      19,401,100.00
0  Artículos para el hogar      15,060,000.00
6                   Libros       9,498,700.00

In [ ]:
#Agrupa las ventas por categoria tienda 4
vtas_categoria_tienda4 = tienda4.groupby('Categoría del Producto')['Precio'].sum().reset_index()

#renombra la columna de precio a ventas para que sea mas descriptiva
vtas_categoria_tienda4.rename(columns={'Precio': 'Ventas'}, inplace=True)

#formatea la columna de ventas para que tenga el formato de moneda y separador decimal
vtas_categoria_tienda4['Ventas Formateadas'] = vtas_categoria_tienda4['Ventas'].apply(lambda x: f'{x:,.2f}')

#ordena la tabla por ventas de mayor a menor
vtasCat_Tienda4_sorter = vtas_categoria_tienda4.sort_values(by='Ventas', ascending=False, inplace=False)

#imprime la tabla de ventas por categoria
print(vtasCat_Tienda4_sorter[['Categoría del Producto', 'Ventas Formateadas']])

    Categoría del Producto Ventas Formateadas
3             Electrónicos     409,476,100.00
2        Electrodomésticos     283,260,200.00
7                  Muebles     192,528,900.00
4   Instrumentos musicales      75,102,400.00
1     Deportes y diversión      33,350,100.00
5                 Juguetes      20,262,200.00
0  Artículos para el hogar      15,074,500.00
6                   Libros       9,321,300.00

# 3. Calificación promedio de la tienda

In [ ]:
suma_vlciones_tienda = tienda['Calificación'].sum()
vlcion_media_tienda = len(tienda['Calificación'])
promedio_valoracion_tienda = suma_vlciones_tienda / vlcion_media_tienda
print(f'Promedio de valoracion tienda: {promedio_valoracion_tienda:.2f}')

Promedio de valoracion tienda 1: 3.98

# 4. Productos más y menos vendidos

In [ ]:
ventas_productos_T1 = tienda['Producto'].value_counts().reset_index()
top10_productos_T1 = ventas_productos_T1.head(10)
topNmenos10_productos = ventas_productos_T1.tail(10)
print('------------------------------------')
print('Top 10 productos mas vendidos Tienda 1')
print(top10_productos_T1)
print('------------------------------------')
print('Top 10 productos menos vendidos Tienda 1')
print(topNmenos10_productos)

------------------------------------
Top 10 productos mas vendidos Tienda 1
                  Producto  count
0               Microondas     60
1            TV LED UHD 4K     60
2                  Armario     60
3         Secadora de ropa     58
4            Mesa de noche     56
5  Bloques de construcción     56
6      Balón de baloncesto     55
7                Bicicleta     54
8             Vaso térmico     54
9             Refrigerador     54
------------------------------------
Top 10 productos menos vendidos Tienda 1
                  Producto  count
0               Microondas     60
1            TV LED UHD 4K     60
2                  Armario     60
3         Secadora de ropa     58
4            Mesa de noche     56
5  Bloques de construcción     56
6      Balón de baloncesto     55
7                Bicicleta     54
8             Vaso térmico     54
9             Refrigerador     54

In [ ]:
ventas_productos_T2 = tienda2['Producto'].value_counts().reset_index()
top10_productos_T2 = ventas_productos_T2.head(10)
topNmenos10_productos_T2 = ventas_productos_T2.tail(10)
print('------------------------------------')
print('Top 10 productos mas vendidos Tienda 2')
print(top10_productos_T2)
print('------------------------------------')
print('Top 10 productos menos vendidos Tienda 2')
print(topNmenos10_productos_T2)

------------------------------------
Top 10 productos mas vendidos Tienda 2
                    Producto  count
0  Iniciando en programación     65
1                 Microondas     62
2                    Batería     61
3          Guitarra acústica     58
4                  Pandereta     58
5           Secadora de ropa     57
6                  Iphone 15     55
7    Bloques de construcción     54
8                    Armario     54
9               Set de ollas     52
------------------------------------
Top 10 productos menos vendidos Tienda 2
             Producto  count
41     Dinosaurio Rex     42
42       Celular ABXY     41
43           Smart TV     40
44         Cubertería     39
45  Asistente virtual     38
46        Auriculares     37
47             Sillón     35
48    Mesa de comedor     34
49          Impresora     34
50      Juego de mesa     32

In [ ]:
ventas_productos_T3 = tienda3['Producto'].value_counts().reset_index()
top10_productos_T3 = ventas_productos_T3.head(10)
topNmenos10_productos_T3 = ventas_productos_T3.tail(10)
print('------------------------------------')
print('Top 10 productos mas vendidos Tienda 3')
print(top10_productos_T3)
print('------------------------------------')
print('Top 10 productos menos vendidos Tienda 3')
print(topNmenos10_productos_T3)

------------------------------------
Top 10 productos mas vendidos Tienda 3
                    Producto  count
0              Kit de bancas     57
1            Mesa de comedor     56
2                  Cama king     56
3               Set de ollas     55
4              Mesa de noche     55
5                   Smart TV     54
6                     Estufa     53
7         Cuerda para saltar     53
8        Modelado predictivo     53
9  Carrito de control remoto     52
------------------------------------
Top 10 productos menos vendidos Tienda 3
                     Producto  count
41                 Cubertería     39
42                Muñeca bebé     39
43  Auriculares con micrófono     39
44          Asistente virtual     39
45               Vaso térmico     38
46         Guitarra eléctrica     38
47               Set de vasos     36
48                    Mochila     36
49                 Microondas     36
50    Bloques de construcción     35

In [ ]:
ventas_productos_T4 = tienda4['Producto'].value_counts().reset_index()
top10_productos_T4 = ventas_productos_T4.head(10)
topNmenos10_productos_T4 = ventas_productos_T4.tail(10)
print('------------------------------------')
print('Top 10 productos mas vendidos Tienda 2')
print(top10_productos_T4)
print('------------------------------------')
print('Top 10 productos menos vendidos Tienda 2')
print(topNmenos10_productos_T4)

------------------------------------
Top 10 productos mas vendidos Tienda 2
                    Producto  count
0                   Cama box     62
1                 Cubertería     59
2    Dashboards con Power BI     56
3                  Cama king     56
4  Carrito de control remoto     55
5            Mesa de comedor     55
6              Mesa de noche     55
7                   Smart TV     54
8    Bloques de construcción     54
9                  Pandereta     52
------------------------------------
Top 10 productos menos vendidos Tienda 2
                       Producto  count
41             Silla de oficina     40
42                 Celular ABXY     39
43            Ajedrez de madera     39
44                   Smartwatch     39
45             Lavadora de ropa     38
46                 Refrigerador     38
47  Ciencia de datos con Python     38
48            Guitarra acústica     37
49                      Armario     34
50           Guitarra eléctrica     33

In [ ]:
suma_vlciones_tienda2 = tienda2['Calificación'].sum()
vlcion_media_tienda2 = len(tienda2['Calificación'])
promedio_valoracion_tienda2 = suma_vlciones_tienda2 / vlcion_media_tienda2
print(f'Promedio de valoracion tienda 2: {promedio_valoracion_tienda2:.2f}')

Promedio de valoracion tienda 1: 4.04

In [ ]:
suma_vlciones_tienda3 = tienda3['Calificación'].sum()
vlcion_media_tienda3 = len(tienda3['Calificación'])
promedio_valoracion_tienda3 = suma_vlciones_tienda3 / vlcion_media_tienda3
print(f'Promedio de valoracion tienda 3: {promedio_valoracion_tienda3:.2f}')

Promedio de valoracion tienda 3: 4.05

In [ ]:
suma_vlciones_tienda4 = tienda4['Calificación'].sum()
vlcion_media_tienda4 = len(tienda4['Calificación'])
promedio_valoracion_tienda4 = suma_vlciones_tienda4 / vlcion_media_tienda4
print(f'Promedio de valoracion tienda 1: {promedio_valoracion_tienda4:.2f}')

Promedio de valoracion tienda 1: 4.00